<main
  class="flex h-full flex-col sm:flex-row dark:bg-cs-dark-700 dark:text-gray-100 relative"
>
  <aside
    class="hidden md:flex md:inset-y-0 md:w-[260px] md:flex-col bg-cs-light-800 dark:bg-cs-dark text-base sm:text-sm flex-1 h-full w-full sm:max-w-[300px] flex-col space-y-1 p-2 absolute sm:static"
  >
    <a
      class="flex p-3 items-center gap-3 rounded-md hover:bg-gray-500/10 transition-colors duration-200 dark:text-gray-100 cursor-pointer text-sm mb-2 flex-shrink-0 border border-gray-900 dark:border-white/20"
      ><svg
        stroke="currentColor"
        fill="none"
        stroke-width="2"
        viewBox="0 0 24 24"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="h-4 w-4"
        height="1em"
        width="1em"
        xmlns="http://www.w3.org/2000/svg"
      >
        <line x1="12" y1="5" x2="12" y2="19"></line>
        <line x1="5" y1="12" x2="19" y2="12"></line></svg
      >New chat</a
    >
    <a
      class="flex p-3 items-center gap-3 relative rounded-md cursor-pointer break-all pr-14 bg-gray-400 hover:bg-gray-400 dark:bg-cs-dark-700 dark:hover:bg-cs-dark-700 group animate-flash duration-1000"
      ><svg
        stroke="currentColor"
        fill="none"
        stroke-width="2"
        viewBox="0 0 24 24"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="h-4 w-4"
        height="1em"
        width="1em"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"
        ></path>
      </svg>
      <div
        class="flex-1 text-ellipsis max-h-5 overflow-hidden break-all relative"
      >
        Modificar colores en Tailwind.
      </div>
      <div
        class="absolute flex right-1 z-10 text-gray-600 dark:text-gray-300 visible"
      >
        <button class="p-1 hover:text-gray-800 dark:hover:text-white">
          <svg
            stroke="currentColor"
            fill="none"
            stroke-width="2"
            viewBox="0 0 24 24"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="h-4 w-4"
            height="1em"
            width="1em"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M12 20h9"></path>
            <path
              d="M16.5 3.5a2.121 2.121 0 0 1 3 3L7 19l-4 1 1-4L16.5 3.5z"
            ></path>
          </svg></button
        ><button class="p-1 hover:text-gray-800 dark:hover:text-white">
          <svg
            stroke="currentColor"
            fill="none"
            stroke-width="2"
            viewBox="0 0 24 24"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="h-4 w-4"
            height="1em"
            width="1em"
            xmlns="http://www.w3.org/2000/svg"
          >
            <polyline points="3 6 5 6 21 6"></polyline>
            <path
              d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"
            ></path>
            <line x1="10" y1="11" x2="10" y2="17"></line>
            <line x1="14" y1="11" x2="14" y2="17"></line>
          </svg>
        </button></div
    ></a>
    <a
      class="flex p-3 items-center gap-3 relative rounded-md hover:bg-cs-light dark:hover:bg-cs-dark-800 cursor-pointer break-all group"
      ><svg
        stroke="currentColor"
        fill="none"
        stroke-width="2"
        viewBox="0 0 24 24"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="h-4 w-4"
        height="1em"
        width="1em"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"
        ></path>
      </svg>
      <div
        class="flex-1 text-ellipsis max-h-5 overflow-hidden break-all relative"
      >
        Descargar icono del sitio
        <div
          class="absolute inset-y-0 right-0 w-8 z-10 bg-gradient-to-l from-cs-light-800 group-hover:from-cs-light dark:from-cs-dark dark:group-hover:from-cs-dark-800"
        ></div>
      </div>
    </a>
  </aside>
  <section class="flex-1 flex flex-col max-h-screen relative">
    <div class="h-full w-full overflow-auto pt-12 sm:pt-0">
      <div class="card">HOLA</div>
      <div class="card">HOLA</div>
      <div class="card">HOLA</div>
      <div class="card">HOLA</div>
      <div class="card">HOLA</div>
      <div class="card">HOLA</div>
      <div class="card">HOLA</div>
      <div class="card">HOLA</div>
      <div class="card">HOLA</div>
      <div class="card">HOLA</div>
      <div class="card">HOLA</div>
      <div class="card">HOLA</div>
      <div class="card">HOLA</div>
      <div class="card">HOLA</div>
      <div class="card">HOLA</div>
      <div class="card">HOLA</div>
      <div class="card">HOLA</div>
      <div class="card">HOLA</div>
      <div class="card">HOLA</div>
      <div class="card">HOLA</div>
      <div class="card">HOLA</div>
      <div class="card">HOLA</div>
      <div class="card">HOLA</div>
      <div class="card">HOLA</div>
      <div class="card">HOLA</div>
      <div class="card">HOLA</div>
      <div class="card">HOLA</div>
      <div class="card">HOLA</div>
      <div class="card">HOLA</div>
      <div class="card">HOLA</div>
      <div class="card">HOLA</div>
      <div class="card">HOLA</div>
      <div class="card">HOLA</div>
      <div class="card dark:bg-cs-dark-400 h-40">HOLA</div>
      <div class="w-full h-32 sm:h-48 flex-shrink-0 dark:bg-cs-dark-700"></div>
    </div>
    <div
      class="relative sm:absolute bottom-0 left-0 w-full border-t md:border-t-0 dark:border-white/20 md:border-transparent md:dark:border-transparent md:bg-vert-light-gradient bg-white dark:bg-gray-800 md:!bg-transparent dark:md:bg-vert-dark-gradient pt-2"
    >
      <div
        class="stretch relative mx-2 flex flex-row gap-3 last:mb-2 md:mx-4 md:last:mb-6 lg:mx-auto lg:max-w-3xl"
      >
        <div class="h-full flex-1 md:flex-col">
          <app-chat-input></app-chat-input>
        </div>
      </div>
      <div
        class="px-3 pt-2 pb-3 text-center text-xs text-black/50 dark:text-white/50 md:px-4 md:pt-3 md:pb-6"
      >
        <a
          href="https://help.openai.com/en/articles/6825453-chatgpt-release-notes"
          target="_blank"
          rel="noreferrer"
          class="underline"
          >DevJaGzGPT Clone Version</a
        >. Free Research Preview. Our goal is to make AI systems more natural
        and safe to interact with. Your feedback will help us improve.
      </div>
    </div>
  </section>
</main>
