<main
  class="flex h-full flex-col sm:flex-row dark:cs-bg-dark-2 dark:text-gray-100"
>
  <aside class="w-full sm:w-224 dark:cs-bg-dark-1">SIDEBAR</aside>
  <section class="flex-1 flex flex-col max-h-screen relative">
    <div class="h-full pb-72 w-full overflow-auto">
      <div class="">CHAT INITI</div>
      <div>CHAT INITI</div>
      <div>CHAT INITI</div>
      <div>CHAT INITI</div>
      <div>CHAT INITI</div>
      <div>CHAT INITI</div>
      <div>CHAT INITI</div>
      <div>CHAT INITI</div>
      <div>CHAT INITI</div>
      <div>CHAT INITI</div>
      <div>CHAT INITI</div>
      <div>CHAT INITI</div>
      <div>CHAT INITI</div>
      <div>CHAT INITI</div>
      <div>CHAT INITI</div>
      <div>CHAT INITI</div>
      <div>CHAT INITI</div>
      <div>CHAT INITI</div>
      <div>CHAT INITI</div>
      <div>CHAT INITI</div>
      <div>CHAT INITI</div>
      <div>CHAT INITI</div>
      <div>CHAT INITI</div>
      <div>CHAT INITI</div>
      <div>CHAT INITI</div>
      <div>CHAT INITI</div>
      <div>CHAT INITI</div>
      <div>CHAT INITI</div>
      <div>CHAT INITI</div>
      <div>CHAT INITI</div>
      <div>CHAT INITI</div>
      <div>CHAT INITI</div>
      <div>CHAT INITI</div>
      <div>CHAT INITI</div>
      <div>CHAT INITI</div>
      <div>CHAT INITI</div>
      <div>CHAT INITI</div>
    </div>
    <div class="h-48 absolute left-0 bottom-0">Footer</div>
  </section>
</main>
