<main
  class="flex h-full flex-col sm:flex-row dark:bg-cs-dark-700 dark:text-gray-100 relative"
>
  <app-chat-sidebar></app-chat-sidebar>
  <section class="flex-1 flex flex-col max-h-screen relative">
    <div class="h-full w-full overflow-auto pt-12 sm:pt-0">
      <div class="w-full h-32 sm:h-48 flex-shrink-0 dark:bg-cs-dark-700">
        <div class="grid place-items-center">
          <app-chat-landing></app-chat-landing>
        </div>
      </div>
    </div>
    <div
      class="relative sm:absolute bottom-0 left-0 w-full border-t md:border-t-0 dark:border-white/20 md:border-transparent md:dark:border-transparent md:bg-vert-light-gradient bg-white dark:bg-cs-dark-300 md:!bg-transparent dark:md:bg-vert-dark-gradient pt-2"
    >
      <div
        class="stretch relative mx-2 flex flex-row gap-3 last:mb-2 md:mx-4 md:last:mb-6 lg:mx-auto lg:max-w-3xl"
      >
        <div class="h-full flex-1 md:flex-col">
          <app-chat-input></app-chat-input>
        </div>
      </div>
      <div
        class="px-3 pt-2 pb-3 text-center text-xs text-black/50 dark:text-white/50 md:px-4 md:pt-3 md:pb-6"
      >
        <a
          href="https://help.openai.com/en/articles/6825453-chatgpt-release-notes"
          target="_blank"
          rel="noreferrer"
          class="underline"
          >DevJaGzGPT Clone Version</a
        >. Free Research Preview. Our goal is to make AI systems more natural
        and safe to interact with. Your feedback will help us improve.
      </div>
    </div>
  </section>
</main>
